@model HotBug.Models.ViewModels.AssignDeveloperViewModel
@using Microsoft.AspNetCore.Identity;
@using HotBug.Services.Interfaces;
@using HotBug.Models.Enums;

@inject UserManager<HBUser> UserManager
@inject IHBProjectService ProjectService

@{
    ViewData["Title"] = "Assign Developer";
}

<!-- Sidebar-right-->
<div class="sidebar sidebar-right sidebar-animate">
    <div class="panel panel-primary card mb-0 box-shadow">
        <div class="tab-menu-heading border-0 p-3">
            <div class="card-title mb-0">Settings</div>
            <div class="card-options ms-auto">
                <a class="sidebar-remove"><i class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
            <div class="tabs-menu ">
                <!-- Tabs -->
                <ul class="nav panel-tabs">
                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index" target="_blank" title="Profile"><i class="fe fe-bell tx-15 me-2"></i>Profile</a></li>
                    <li><a asp-action="Index" asp-controller="Notifications"><i class="fe fe-bell tx-15 me-2"></i> Notifications</a></li>
                </ul>
            </div>
            <div class="tab-content">
            </div>
        </div>
    </div>
</div>


<div class="container mt-4 ms-lg-4 me-1">
    <h2 class="">Assign Developer for</h2>
    <div class="row">
        <div class="col-md-6">
            <h3> @Model.Ticket.Title</h3>
            <a style="font-size:small" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Ticket.ProjectId">
                @Model.Ticket.Project.Name
            </a>

            <div class="card">
                <div class="card-header">
                    <label class="conrol-label">
                        Assign Developer
                    </label>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="AssignDeveloper" asp-controller="Tickets">
                        <input asp-for="Ticket.Id" hidden />
                        <p>Description: @Model.Ticket.Description</p>

                        <div class="from-group">
                            <label class="col-form-label">Select Developers</label>

                            <select required asp-for="DeveloperId" class="form-control" asp-items="@Model.Developers">
                                <option></option>
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Assign" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="UnassignedTickets" asp-controller="Tickets">Unassigned Tickets</a>
    </div>
</div>
