@model IEnumerable<HotBug.Models.Ticket>
@using Microsoft.AspNetCore.Identity;
@using HotBug.Services.Interfaces;
@using HotBug.Models.Enums;

@inject UserManager<HBUser> UserManager
@inject IHBProjectService ProjectService

@{
    ViewData["Title"] = "My Tickets";
}


<div class="mt-5">
    <div class="row mt-5">
        <!--ALL TICKETS-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <div class="card overflow-hidden sales-card bg-secondary-gradient">
                <a asp-controller="Tickets" asp-action="AllTickets">
                    <div class="px-3 pt-3  pb-2 pt-0">
                        <div class="">
                            <h6 class="mb-3 tx-16 text-white">ALL TICKETS</h6>
                        </div>
                        <div class="pb-0 mt-0">
                            <div class="d-flex">
                                <span class="float-end my-auto ms-auto">
                                    <i class="fas fa-arrow-circle-up text-white"></i>
                                    <h4 class="tx-20 fw-bold mb-1 text-white">
                                    </h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--MY TICKETS-->

        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <div class="card overflow-hidden sales-card bg-secondary-gradient">
                <a asp-controller="Tickets" asp-action="MyTickets">
                    <div class="px-3 pt-3  pb-2 pt-0">
                        <div class="">
                            <h6 class="mb-3 tx-16 text-white">MY TICKETS</h6>
                        </div>
                        <div class="pb-0 mt-0">
                            <div class="d-flex">
                                <span class="float-end my-auto ms-auto">
                                    <i class="fas fa-arrow-circle-up text-white"></i>
                                    <h4 class="tx-20 fw-bold mb-1 text-white">
                                    </h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--ARCHIVED TICKETS-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <div class="card overflow-hidden sales-card bg-secondary-gradient">
                <a asp-controller="Tickets" asp-action="ArchivedTickets">
                    <div class="px-3 pt-3  pb-2 pt-0">
                        <div class="">
                            <h6 class="mb-3 tx-16 text-white">ARCHIVED TICKETS</h6>
                        </div>
                        <div class="pb-0 mt-0">
                            <div class="d-flex">
                                <span class="float-end my-auto ms-auto">
                                    <i class="fas fa-arrow-circle-up text-white"></i>
                                    <h4 class="tx-20 fw-bold mb-1 text-white">
                                    </h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--UNASSIGNED TICKETS-->
        @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
        {
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="card overflow-hidden sales-card bg-secondary-gradient">
                    <a asp-controller="Tickets" asp-action="UnassignedTickets">
                        <div class="px-3 pt-3  pb-2 pt-0">
                            <div class="">
                                <h6 class="mb-3 tx-16 text-white">UNASSIGNED TICKETS</h6>
                            </div>
                            <div class="pb-0 mt-0">
                                <div class="d-flex">
                                    <span class="float-end my-auto ms-auto">
                                        <i class="fas fa-arrow-circle-up text-white"></i>
                                        <h4 class="tx-20 fw-bold mb-1 text-white">
                                        </h4>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="card overflow-hidden sales-card bg-secondary-gradient">
                    <div class="px-3 pt-3  pb-2 pt-0">
                        <div class="">
                            <h6 class="mb-3 tx-16 text-white text-uppercase">unassigned (Admin & PM)</h6>
                        </div>
                        <div class="pb-0 mt-0">
                            <div class="d-flex">
                                <span class="float-end my-auto ms-auto">
                                    <i class="fas fa-arrow-circle-up text-white"></i>
                                    <h4 class="tx-20 fw-bold mb-1 text-white">
                                    </h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card mt-2 px-4">
        <div class="row pt-3">
            <div class="col-6 text-dark font-weight-bold">
                <h3>
                    My Tickets
                </h3>
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" class="btn btn-md btn-primary text-white semibold-text mb-3">Create A Ticket</a>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive country-table" style="overflow-y:auto;height:600px;">

                <table class="table table-striped table-bordered mb-0 text-sm-nowrap text-lg-nowrap text-xl-nowrap">
                    <thead>
                        <tr class="">
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.TicketPriority)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.TicketStatus)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.OwnerUser)
                            </th>
                            <th class="bg-dark text-light">
                                @Html.DisplayNameFor(model => model.DeveloperUser)
                            </th>
                            <th class="bg-dark text-light">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">@item.Title</a>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

