@model HotBug.Models.ViewModels.DashboardViewModel
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity
@using HotBug.Models.Enums;
@using HotBug.Services;
@using HotBug.Services.Interfaces;


@inject UserManager<HBUser> UserManager
@inject IHBRolesService RoleService
@inject IHBProjectService ProjectService
@inject IHBTicketService TicketService

@{
    ViewData["Title"] = "Dashboard";
    @* Instantiate the hBUser *@
    HBUser hBUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
	<meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="Keywords" content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4">

	<!-- Title -->
	<title> Valex -  Premium dashboard ui bootstrap rwd admin html5 template </title>
	<!-- CSS -->
	<link href="~/css/site.css" rel="stylesheet">
	<!-- Bootstrap css -->
	<link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="main-body app sidebar-mini ltr">

		<!-- Page -->
		<div class="page custom-index">
			<div>
				<!-- main-header -->
				<div class="main-header side-header sticky nav nav-item">
					<div class="container-fluid main-container ">
						<div class="main-header-left ">
							<div class="responsive-logo">
								<a href="index.html" class="header-logo">
									<img src="~/img/hotbug/hbBlueNoText.png" width="90" class="logo-1" alt="logo">
									
								</a>
							</div>
							<div class="app-sidebar__toggle" data-bs-toggle="sidebar">
								<a class="open-toggle" href="javascript:void(0);"><i class="header-icon fe fe-align-left" ></i></a>
								<a class="close-toggle" href="javascript:void(0);"><i class="header-icons fe fe-x"></i></a>
							</div>
							<div class="main-header-center ms-3 d-sm-none d-md-none d-lg-block">
								<input class="form-control" placeholder="Search for anything..." type="search"> <button class="btn"><i class="fas fa-search d-none d-md-block"></i></button>
							</div>
						</div>
						<div class="main-header-right">
							<button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon fe fe-more-vertical "></span>
							</button>
							<div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
								<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
									<ul class="nav nav-item  navbar-nav-right ms-auto">
										<li class="dropdown nav-item main-layout">
											@*<a class="new nav-link theme-layout nav-link-bg layout-setting" >
												<span class="dark-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24" height="24" viewBox="0 0 24 24"><path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"/></svg></span>
												<span class="light-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" width="24" height="24" viewBox="0 0 24 24"><path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"/></svg></span>
											</a>*@
										</li>
										<li class="nav-link search-icon d-lg-none d-block">
											<form class="navbar-form" role="search">
												<div class="input-group">
													<input type="text" class="form-control" placeholder="Search">
													<span class="input-group-btn">
														<button type="reset" class="btn btn-default">
															<i class="fas fa-times"></i>
														</button>
														<button type="submit" class="btn btn-default nav-link resp-btn">
															<svg xmlns="http://www.w3.org/2000/svg" height="24px" class="header-icon-svgs" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
														</button>
													</span>
												</div>
											</form>
										</li>
										<li class="dropdown nav-item main-header-message ">
											<a class="new nav-link" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><span class=" pulse-danger"></span></a>
											<div class="dropdown-menu">
												<div class="menu-header-content bg-primary text-start">
													<div class="d-flex">
														<h6 class="dropdown-title mb-1 tx-15 text-white fw-semibold">Messages</h6>
														<a href="javascript:void(0);" class="badge rounded-pill bg-warning ms-auto my-auto float-end">Mark All Read</a>
													</div>
													<p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">You have 4 unread messages</p>
												</div>
												<div class="main-message-list chat-scroll">
													<div class="p-3 d-flex border-bottom messages">
														<div class="  drop-img  cover-image  " data-bs-image-src="../assets/img/users/3.jpg">
															<span class="avatar-status bg-teal"></span>
														</div>
														<div class="wd-90p">
															<div class="d-flex">
																<a href="chat.html"><h5 class="mb-1 name">Petey Cruiser</h5></a>
															</div>
															<p class="mb-0 desc">I'm sorry but i'm not sure how to help you with that......</p>
															<p class="time mb-0 text-start float-start ms-2 mt-2">Mar 15 3:55 PM</p>
														</div>
													</div>
													<div class="p-3 d-flex border-bottom messages">
														<div class="drop-img cover-image" data-bs-image-src="../assets/img/users/2.jpg">
															<span class="avatar-status bg-teal"></span>
														</div>
														<div class="wd-90p">
															<div class="d-flex">
																<a href="chat.html"><h5 class="mb-1 name">Jimmy Changa</h5></a>
															</div>
															<p class="mb-0 desc">All set ! Now, time to get to you now......</p>
															<p class="time mb-0 text-start float-start ms-2 mt-2">Mar 06 01:12 AM</p>
														</div>
													</div>
													<div class="p-3 d-flex border-bottom messages">
														<div class="drop-img cover-image" data-bs-image-src="../assets/img/users/9.jpg">
															<span class="avatar-status bg-teal"></span>
														</div>
														<div class="wd-90p">
															<div class="d-flex">
																<a href="chat.html"><h5 class="mb-1 name">Graham Cracker</h5></a>
															</div>
															<p class="mb-0 desc">Are you ready to pickup your Delivery...</p>
															<p class="time mb-0 text-start float-start ms-2 mt-2">Feb 25 10:35 AM</p>
														</div>
													</div>
													<div class="p-3 d-flex border-bottom messages">
														<div class="drop-img cover-image" data-bs-image-src="../assets/img/users/12.jpg">
															<span class="avatar-status bg-teal"></span>
														</div>
														<div class="wd-90p">
															<div class="d-flex">
																<a href="chat.html"><h5 class="mb-1 name">Donatella Nobatti</h5></a>
															</div>
															<p class="mb-0 desc">Here are some products ...</p>
															<p class="time mb-0 text-start float-start ms-2 mt-2">Feb 12 05:12 PM</p>
														</div>
													</div>
													<div class="p-3 d-flex border-bottom messages">
														<div class="drop-img cover-image" data-bs-image-src="../assets/img/users/5.jpg">
															<span class="avatar-status bg-teal"></span>
														</div>
														<div class="wd-90p">
															<div class="d-flex">
																<a href="chat.html"><h5 class="mb-1 name">Anne Fibbiyon</h5></a>
															</div>
															<p class="mb-0 desc">I'm sorry but i'm not sure how...</p>
															<p class="time mb-0 text-start float-start ms-2 mt-2">Jan 29 03:16 PM</p>
														</div>
													</div>
												</div>
												<div class="text-center dropdown-footer">
													<a href="chat.html">VIEW ALL</a>
												</div>
											</div>
										</li>
										<li class="dropdown nav-item main-header-notification">
											<a class="new nav-link" href="javascript:void(0);">
											<svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class=" pulse"></span></a>
											<div class="dropdown-menu">
												<div class="menu-header-content bg-primary text-start">
													<div class="d-flex">
														<h6 class="dropdown-title mb-1 tx-15 text-white fw-semibold">Notifications</h6>
														<a href="javascript:void(0);" class="badge rounded-pill bg-warning ms-auto my-auto float-end">Mark All Read</a>
													</div>
													<p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">You have 4 unread Notifications</p>
												</div>
												<div class="main-notification-list Notification-scroll">
													<div class="d-flex p-3 border-bottom">
														<div class="notifyimg bg-pink">
															<i class="la la-file-alt text-white"></i>
														</div>
														<div class="ms-3">
															<a href="mail.html"><h5 class="notification-label mb-1">New files available</h5></a>
															<div class="notification-subtext">10 hour ago</div>
														</div>
														<div class="ms-auto" >
															<a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
														</div>
													</div>
													<div class="d-flex p-3 border-bottom">
														<div class="notifyimg bg-purple">
															<i class="la la-gem text-white"></i>
														</div>
														<div class="ms-3">
															<a href="mail.html"><h5 class="notification-label mb-1">Updates Available</h5></a>
															<div class="notification-subtext">2 days ago</div>
														</div>
														<div class="ms-auto" >
															<a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
														</div>
													</div>
													<div class="d-flex p-3 border-bottom">
														<div class="notifyimg bg-success">
															<i class="la la-shopping-basket text-white"></i>
														</div>
														<div class="ms-3">
															<a href="mail.html"><h5 class="notification-label mb-1">New Order Received</h5></a>
															<div class="notification-subtext">1 hour ago</div>
														</div>
														<div class="ms-auto" >
															<a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
														</div>
													</div>
													<div class="d-flex p-3 border-bottom">
														<div class="notifyimg bg-warning">
															<i class="la la-envelope-open text-white"></i>
														</div>
														<div class="ms-3">
															<a href="mail.html"><h5 class="notification-label mb-1">New review received</h5></a>
															<div class="notification-subtext">1 day ago</div>
														</div>
														<div class="ms-auto" >
															<a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
														</div>
													</div>
													<div class="d-flex p-3 border-bottom">
														<div class="notifyimg bg-danger">
															<i class="la la-user-check text-white"></i>
														</div>
														<div class="ms-3">
															<a href="mail.html"><h5 class="notification-label mb-1">22 verified registrations</h5></a>
															<div class="notification-subtext">2 hour ago</div>
														</div>
														<div class="ms-auto" >
															<a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
														</div>
													</div>
													<div class="d-flex p-3 border-bottom">
														<div class="notifyimg bg-primary">
															<i class="la la-check-circle text-white"></i>
														</div>
														<div class="ms-3">
															<a href="mail.html"><h5 class="notification-label mb-1">Project has been approved</h5></a>
															<div class="notification-subtext">4 hour ago</div>
														</div>
														<div class="ms-auto" >
															<a href="mail.html"><i class="las la-angle-right text-end text-muted icon"></i></a>
														</div>
													</div>
												</div>
												<div class="dropdown-footer">
													<a href="mail.html">VIEW ALL</a>
												</div>
											</div>
										</li>
										<li class="nav-item full-screen fullscreen-button">
											<a class="new nav-link full-screen-link" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg></a>
										</li>
										<li class="dropdown main-profile-menu nav nav-item nav-link">
											<a class="profile-user d-flex" href=""><img alt="" src="../assets/img/users/6.jpg"></a>
											<div class="dropdown-menu">
												<div class="main-header-profile bg-primary p-3">
													<div class="d-flex wd-100p">
														<div class="main-img-user"><img alt="" src="../assets/img/users/6.jpg" class=""></div>
														<div class="ms-3 my-auto">
															<h6>Patrick Cruiser</h6><span>Premium Member</span>
														</div>
													</div>
												</div>
												<a class="dropdown-item" href="profile.html"><i class="bx bx-user-circle"></i>Profile</a>
												<a class="dropdown-item" href="editprofile.html"><i class="bx bx-cog"></i> Edit Profile</a>
												<a class="dropdown-item" href="mail.html"><i class="bx bxs-inbox"></i>Inbox</a>
												<a class="dropdown-item" href="chat.html"><i class="bx bx-envelope"></i>Messages</a>
												<a class="dropdown-item" href="editprofile.html"><i class="bx bx-slider-alt"></i> Account Settings</a>
												<a class="dropdown-item" href="signin.html"><i class="bx bx-log-out"></i> Sign Out</a>
											</div>
										</li>
										<li class="dropdown main-header-message right-toggle">
											<a class="nav-link pe-0" data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
												<svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /main-header -->

				<!-- main-sidebar -->
				<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
				<div class="sticky">
					<aside class="app-sidebar sidebar-scroll">
						<div class="main-sidebar-header active">
						<a class="desktop-logo logo-light active" href="index.html"><img src="~/img/hotbug/hbLogoNoTextEyesFwd.png" class="main-logo" alt="logo"></a>
							<a class="desktop-logo logo-dark active" href="index.html"><img src="../assets/img/brand/logo-white.png" class="main-logo" alt="logo"></a>
						<a class="logo-icon mobile-logo icon-light active" href="index.html"><img src="~/img/hotbug/hbLogoNoTextEyesFwd.png" alt="logo"></a>
							<a class="logo-icon mobile-logo icon-dark active" href="index.html"><img src="../assets/img/brand/favicon-white.png" alt="logo"></a>
						</div>
						<div class="main-sidemenu">	
							<div class="app-sidebar__user clearfix mt-5">
								
							</div>
							<div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
							<ul class="side-menu">
								<li class="side-item side-item-category">Home</li>
		<!--DASHBOARD-->
							<li class="slide">
								<a class="side-menu__item" href="index.html"><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24" ><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" opacity=".3"/><path d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z"/></svg><span class="side-menu__label">Dashboard</span></a>
							</li>

							<li class="side-item side-item-category">Projects</li>
		<!--COMPANY-->
							<li class="slide">
								<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24" ><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5 5h15v3H5zm12 5h3v9h-3zm-7 0h5v9h-5zm-5 0h3v9H5z" opacity=".3"/><path d="M20 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM8 19H5v-9h3v9zm7 0h-5v-9h5v9zm5 0h-3v-9h3v9zm0-11H5V5h15v3z"/></svg><span class="side-menu__label">Company</span><i class="angle fe fe-chevron-down"></i></a>
							</li>

		<!--PROJECTS-->
							<li class="slide">
								<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M5 9h14V5H5v4zm2-3.5c.83 0 1.5.67 1.5 1.5S7.83 8.5 7 8.5 5.5 7.83 5.5 7 6.17 5.5 7 5.5zM5 19h14v-4H5v4zm2-3.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5-1.5-.67-1.5-1.5.67-1.5 1.5-1.5z" opacity=".3" /><path d="M20 13H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h16c.55 0 1-.45 1-1v-6c0-.55-.45-1-1-1zm-1 6H5v-4h14v4zm-12-.5c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5-1.5.67-1.5 1.5.67 1.5 1.5 1.5zM20 3H4c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h16c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zm-1 6H5V5h14v4zM7 8.5c.83 0 1.5-.67 1.5-1.5S7.83 5.5 7 5.5 5.5 6.17 5.5 7 6.17 8.5 7 8.5z" /></svg><span class="side-menu__label">Projects</span><i class="angle fe fe-chevron-down"></i></a>
								<ul class="slide-menu">
									<li class="panel sidetab-menu">
										<div class="tab-menu-heading p-0 pb-2 border-0">
											<div class="tabs-menu ">
												<!-- Tabs -->
												<ul class="nav panel-tabs">
													<li><a href="#side26" class="active" data-bs-toggle="tab"><i class="fe fe-airplay"></i><p>Home</p></a></li>
													<li><a href="#side27" data-bs-toggle="tab"><i class="fe fe-package"></i><p>Events</p></a></li>
													<li><a href="#side28" data-bs-toggle="tab"><i class="fe fe-move"></i><p>Activity</p></a></li>
												</ul>
											</div>
										</div>
										<div class="panel-body tabs-menu-body p-0 border-0">
											<div class="tab-content">
												<div class="tab-pane tab-content-show active" id="side26">
													<ul class="sidemenu-list">
														<li class="side-menu__label1"><a href="javascript:void(0);">Menu-Levels</a></li>
														<li><a class="slide-item" href="javascript:void(0);">Level-1</a></li>
														<li class="sub-slide">
															<a class="slide-item" data-bs-toggle="sub-slide" href="javascript:void(0);"><span class="sub-side-menu__label">Level-2</span><i class="sub-angle fe fe-chevron-down"></i></a>
															<ul class="sub-slide-menu">
																<li><a class="sub-side-menu__item" href="javascript:void(0);">Level-2.1</a></li>
																<li><a class="sub-side-menu__item" href="javascript:void(0);">Level-2.2</a></li>
																<li class="sub-slide2">
																	<a class="sub-side-menu__item" data-bs-toggle="sub-slide2" href="javascript:void(0);"><span class="sub-side-menu__label">Level-2.3</span><i class="sub-angle2 fe fe-chevron-down"></i></a>
																	<ul class="sub-slide-menu1">
																		<li><a class="sub-slide-item2" href="javascript:void(0);">Level-2.3.1</a></li>
																		<li><a class="sub-slide-item2" href="javascript:void(0);">Level-2.3.2</a></li>
																		<li><a class="sub-slide-item2" href="javascript:void(0);">Level-2.3.3</a></li>
																	</ul>
																</li>
															</ul>
														</li>
													</ul>
												</div>
												<div class="tab-pane tab-content-double" id="side27">
													<h5 class="mt-3 mb-4 tx-16">Events</h5>
													<div class="latest-timeline">
														<div class="timeline">
															<div class="mt-0 event-text">
																<h6 class="mb-0"><a target="_blank" href="#" class="timeline-head">Employees Meeting</a></h6>
																<small class="text-muted mb-2">20 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut labore et. </p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Anniversary Celebration</a></h6>
																<small class="mb-2 text-muted">14 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor  magna aliqua nisi ut. </p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Best Employee Announcement</a></h6>
																<small class="mb-2 text-muted">13 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut aliquip.</p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Weekend trip</a></h6>
																<small class="mb-2 text-muted">11 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut aliquip.</p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">New Project Started..</a></h6>
																<small class="mb-2 text-muted">09 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut aliquip.</p>
															</div>
															<div class="mb-0 event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Gradening working</a></h6>
																<small class="mb-2 text-muted">02 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor  aliqua nisi ut aliquip. </p>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane tab-content-double" id="side28">
													<h5 class="mt-3 mb-4 tx-16">Activity</h5>
													<div class="activity mt-3 p-0">
														<img src="../assets/img/users/8.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Samantha</b> Add a new projects <b> AngularJS Template</b></p>
																<small class="text-muted ">30 mins ago</small>
															</div>
														</div>
														<img src="../assets/img/users/5.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Allie </b> Add a new projects <b>Free HTML Template</b></p>
																<small class="text-muted ">1 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/6.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Gabe </b> Add a new projects <b>Free PSD Template</b></p>
																<small class="text-muted ">3 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/7.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Abigail </b> Add a new projects <b>Free UI Template</b></p>
																<small class="text-muted ">5 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/14.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Mike</b> Add a new projects <b> AngularJS Template</b></p>
																<small class="text-muted ">30 mins ago</small>
															</div>
														</div>
														<img src="../assets/img/users/3.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Raven </b> Add a new projects <b>Free HTML Template</b></p>
																<small class="text-muted ">1 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/1.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Anna </b> Add a new projects <b>Free PSD Template</b></p>
																<small class="text-muted ">3 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/11.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Allie </b> Add a new projects <b>Free UI Template</b></p>
																<small class="text-muted ">5 days ago</small>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>

		<!--TICKETS-->
							<li class="slide">
								<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3"/><path d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z"/></svg><span class="side-menu__label">Tickets</span><i class="angle fe fe-chevron-down"></i></a>
								<ul class="slide-menu">
									<li class="panel sidetab-menu">
										<div class="tab-menu-heading p-0 pb-2 border-0">
											<div class="tabs-menu ">
												<!-- Tabs -->
												<ul class="nav panel-tabs">
													<li><a href="#side26" class="active" data-bs-toggle="tab"><i class="fe fe-airplay"></i><p>Home</p></a></li>
													<li><a href="#side27" data-bs-toggle="tab"><i class="fe fe-package"></i><p>Events</p></a></li>
													<li><a href="#side28" data-bs-toggle="tab"><i class="fe fe-move"></i><p>Activity</p></a></li>
												</ul>
											</div>
										</div>
										<div class="panel-body tabs-menu-body p-0 border-0">
											<div class="tab-content">
												<div class="tab-pane tab-content-show active" id="side26">
													<ul class="sidemenu-list">
														<li class="side-menu__label1"><a href="javascript:void(0);">Menu-Levels</a></li>
														<li><a class="slide-item" href="javascript:void(0);">Level-1</a></li>
														<li class="sub-slide">
															<a class="slide-item" data-bs-toggle="sub-slide" href="javascript:void(0);"><span class="sub-side-menu__label">Level-2</span><i class="sub-angle fe fe-chevron-down"></i></a>
															<ul class="sub-slide-menu">
																<li><a class="sub-side-menu__item" href="javascript:void(0);">Level-2.1</a></li>
																<li><a class="sub-side-menu__item" href="javascript:void(0);">Level-2.2</a></li>
																<li class="sub-slide2">
																	<a class="sub-side-menu__item" data-bs-toggle="sub-slide2" href="javascript:void(0);"><span class="sub-side-menu__label">Level-2.3</span><i class="sub-angle2 fe fe-chevron-down"></i></a>
																	<ul class="sub-slide-menu1">
																		<li><a class="sub-slide-item2" href="javascript:void(0);">Level-2.3.1</a></li>
																		<li><a class="sub-slide-item2" href="javascript:void(0);">Level-2.3.2</a></li>
																		<li><a class="sub-slide-item2" href="javascript:void(0);">Level-2.3.3</a></li>
																	</ul>
																</li>
															</ul>
														</li>
													</ul>
												</div>
												<div class="tab-pane tab-content-double" id="side27">
													<h5 class="mt-3 mb-4 tx-16">Events</h5>
													<div class="latest-timeline">
														<div class="timeline">
															<div class="mt-0 event-text">
																<h6 class="mb-0"><a target="_blank" href="#" class="timeline-head">Employees Meeting</a></h6>
																<small class="text-muted mb-2">20 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut labore et. </p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Anniversary Celebration</a></h6>
																<small class="mb-2 text-muted">14 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor  magna aliqua nisi ut. </p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Best Employee Announcement</a></h6>
																<small class="mb-2 text-muted">13 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut aliquip.</p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Weekend trip</a></h6>
																<small class="mb-2 text-muted">11 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut aliquip.</p>
															</div>
															<div class="event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">New Project Started..</a></h6>
																<small class="mb-2 text-muted">09 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor incididunt ut aliquip.</p>
															</div>
															<div class="mb-0 event-text">
																<h6 class="mb-0"><a href="#" class="timeline-head">Gradening working</a></h6>
																<small class="mb-2 text-muted">02 Feb, 2019</small>
																<p class="tx-13">sed do eiusmod tempor  aliqua nisi ut aliquip. </p>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane tab-content-double" id="side28">
													<h5 class="mt-3 mb-4 tx-16">Activity</h5>
													<div class="activity mt-3 p-0">
														<img src="../assets/img/users/8.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Samantha Melon</b> Add a new projects <b> AngularJS Template</b></p>
																<small class="text-muted ">30 mins ago</small>
															</div>
														</div>
														<img src="../assets/img/users/5.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Allie Grater</b> Add a new projects <b>Free HTML Template</b></p>
																<small class="text-muted ">1 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/6.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Gabe Lackmen</b> Add a new projects <b>Free PSD Template</b></p>
																<small class="text-muted ">3 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/7.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Abigail John</b> Add a new projects <b>Free UI Template</b></p>
																<small class="text-muted ">5 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/14.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Jiggel mossin</b> Add a new projects <b> AngularJS Template</b></p>
																<small class="text-muted ">30 mins ago</small>
															</div>
														</div>
														<img src="../assets/img/users/3.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Raven Chanan</b> Add a new projects <b>Free HTML Template</b></p>
																<small class="text-muted ">1 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/1.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Anna Ogden</b> Add a new projects <b>Free PSD Template</b></p>
																<small class="text-muted ">3 days ago</small>
															</div>
														</div>
														<img src="../assets/img/users/11.jpg" alt="" class="img-activity">
														<div class="time-activity">
															<div class="item-activity">
																<p class="mb-0 tx-13"><b>Allie Grater</b> Add a new projects <b>Free UI Template</b></p>
																<small class="text-muted ">5 days ago</small>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
		<!--NOTIFICATIONS-->
							<li class="slide">
									<a class="side-menu__item" href="landing-page.html"><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.02C7.6 4.02 4.02 7.6 4.02 12S7.6 19.98 12 19.98s7.98-3.58 7.98-7.98S16.4 4.02 12 4.02zM11.39 19v-5.5H8.25l4.5-8.5v5.5h3L11.39 19z" opacity=".3"/><path d="M12 2.02c-5.51 0-9.98 4.47-9.98 9.98s4.47 9.98 9.98 9.98 9.98-4.47 9.98-9.98S17.51 2.02 12 2.02zm0 17.96c-4.4 0-7.98-3.58-7.98-7.98S7.6 4.02 12 4.02 19.98 7.6 19.98 12 16.4 19.98 12 19.98zM12.75 5l-4.5 8.5h3.14V19l4.36-8.5h-3V5z"/></svg><span class="side-menu__label">Notifications</span></a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
				<!-- main-sidebar -->
			</div>

			<!-- main-content -->
			<div class="main-content app-content">

				<!-- container -->
				<div class="main-container container-fluid">

				<!-- breadcrumb -->
				<div class="breadcrumb-header justify-content-between">
					<div class="left-content">
						<div>
							<h2 class="main-content-title tx-24 mg-b-1 mg-b-lg-1">Overview for @Model.Company!.Name</h2>
						</div>
					</div>
					<div class="main-dashboard-header-right">
						<div>
							<label class="tx-13">Total Projects</label>
							<h5>@Model.Projects!.Count()</h5>
						</div>
						<div>
							<label class="tx-13">Total Tickets</label>
							<h5>@Model.Tickets!.Count()</h5>
						</div>
					</div>
				</div>
				<!-- breadcrumb -->

		<!-- CURRENT PROJECTS COLOR CARD-->
					<div class="row row-sm">
						<div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
							<div class="card overflow-hidden sales-card bg-primary-gradient">
								<div class="px-3 pt-3  pb-2 pt-0">
									<div class="">
										<h6 class="mb-3 tx-12 text-white">CURRENT PROJECTS</h6>
									</div>
									<div class="pb-0 mt-0">
										<div class="d-flex">
											<a asp-action="AllProjects" asp-controller="Projects" style="text-decoration:none">
												<span class="float-end my-auto ms-auto">
													<i class="fas fa-arrow-circle-up text-white"></i>
												<h4 class="tx-20 fw-bold mb-1 text-white">@Model.Projects!.Count()</h4>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
		<!--ALL TICKETS COLOR CARD-->
						<div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
							<div class="card overflow-hidden sales-card bg-purple-gradient">
								<div class="px-3 pt-3  pb-2 pt-0">
									<div class="">
										<h6 class="mb-3 tx-12 text-white">ALL TICKETS</h6>
									</div>
									<div class="pb-0 mt-0">
										<div class="d-flex">
											<a asp-action="AllTickets" asp-controller="Tickets">
												<span class="float-end my-auto ms-auto">
													<h4 class="tx-20 fw-bold mb-1 text-white">@Model.Tickets!.Count()</h4>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
		<!--UNASSIGNED TICKETS COLOR CARD-->
						<div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
							<div class="card overflow-hidden sales-card bg-info-gradient">
								<div class="px-3 pt-3  pb-2 pt-0">
									<div class="">
										<h6 class="mb-3 tx-12 text-white">UNASSIGNED TICKETS</h6>
									</div>
									<div class="pb-0 mt-0">
										<div class="d-flex">
											<a asp-action="UnassignedTickets" asp-controller="Tickets">
												<span class="float-end my-auto ms-auto">
													<i class="fas fa-arrow-circle-up text-white"></i>
													<h4 class="tx-20 fw-bold mb-1 text-white">@Model.Tickets!.Where(t=> string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h4>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
		<!--TOTAL DATA COLOR CARD-->
						<div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
							<div class="card overflow-hidden sales-card bg-secondary-gradient">
								<div class="px-3 pt-3  pb-2 pt-0">
									<div class="">
										<h6 class="mb-3 tx-12 text-white">TOTAL DATA</h6>
									</div>
									<div class="pb-0 mt-0">
										<div class="d-flex">
										<a asp-action="UnassignedTickets" asp-controller="Tickets">
											<span class="float-end my-auto ms-auto">
												<i class="fas fa-arrow-circle-up text-white"></i>
												<h4 class="tx-20 fw-bold mb-1 text-white">@(Model.Projects!.Count()
																						+ Model.Tickets!.Count()
																						+ Model.Members!.Count()
												)
												</h4>
											</span>
										</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row row-sm">

		<!--SNAPSHOT CARD-->
						<div class="col-md-12 col-lg-12 col-xl-3">
							<div class="card">
								<div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
									<div class="d-flex justify-content-between">
										<h4 class="card-title mb-0">Snapshot</h4>
										
									</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-3">
											<div class="hstack">

												<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-people-fill mt-1 px-1 bg-info-gradient border rounded" viewBox="0 0 16 16">
													<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
												</svg>
											<i class="ti-pie-chart bg-primary-gradient text-white product-icon"></i>
											</div>
										</div>
										<div class="col-9">
											<h6>Total Users</h6>
											<h4 class="">@Model.Members.Count()</h4>
										</div>
										<div class="col-12">
											<hr class="border border-dark w-100">
										</div>
									</div>
									<div class="row mt-1">
										<div class="col-3">
											<div class="hstack">
												<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-ticket-fill mt-1 px-1 bg-purple-gradient border rounded" viewBox="0 0 16 16">
													<path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
												</svg>
											</div>
										</div>
										<div class="col-9">
											<h6>Tickets in Development</h6>
											<h4 class="">@Model.Tickets!.Count()</h4>
										</div>
										<div class="col-12">
											<hr class="border border-dark w-100">
										</div>
									</div>
									<div class="row mt-1">
										<div class="col-3">
											<div class="hstack">
												<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-person-fill mt-1 bg-primary-gradient border rounded" viewBox="0 0 16 16">
													<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
												</svg>
											</div>
										</div>
										<div class="col-9">
											<h6>Total Developers</h6>
											<h4 class="">4</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						@*@Model.Tickets!.Where(t=> string.IsNullOrEmpty(t.DeveloperUserId)).Count(*@
		<!--COMPANY DATA CARD-->
						<div class="col-md-12 col-lg-12 col-xl-3">
							<div class="card">
								<div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
									<div class="card-body">
										<h5>Project Tickets Count</h5>
										<p>Ticket Status %</p>
										<div id="donut"></div>
									</div>
								</div>
							</div>
						</div>

		<!--PROJECT PRIORITY CARD-->
						<div class="col-md-12 col-lg-12 col-xl-3">
							<div class="card">
								<div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
									<div class="card-body">
										<h5>Projects by Priority</h5>
										<p>Priority End Date</p>
										<div id="chart3D"></div>
									</div>
								</div>
							</div>
						</div>

		<!--PRODUCTION CARD-->
						<div class="col-md-12 col-lg-12 col-xl-3">
							<div class="card">
								<div class="card-header bg-transparent pd-b-0 pd-t-20 bd-b-0">
								<div class="d-flex justify-content-between">
									<h5 class="mb-4 card-title">Tickets by Priority</h5>
								</div>
									<p class="mb-4">Tickets sorted by their status</p>
								<div>
									<div class="row mb-4">
										<div class="col-8">
											<h5 class="text-start">Low</h5>
										</div>
										<div class="col-4 d-flex justify-content-end">
											<a asp-action="AllTickets" asp-controller="Tickets">
												<h5>@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(HBTicketPriority.Low)).Count()</h5>
											</a>
										</div>
									</div>

									<div class="row mb-4">
										<div class="col-8">
											<h5 class="text-start">Medium</h5>
										</div>
										<div class="col-4 d-flex justify-content-end">
											<a asp-action="AllTickets" asp-controller="Tickets">
												<h5>@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(HBTicketPriority.Medium)).Count()</h5>
											</a>
										</div>
									</div>

									<div class="row mb-4">
										<div class="col-8">
										<i class="ti-pie-chart bg-primary-gradient text-white product-icon"></i>
											<h5 class="text-start">High</h5>
										</div>
										<div class="col-4 d-flex justify-content-end">
											<a asp-action="AllTickets" asp-controller="Tickets">
												<h5>@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(HBTicketPriority.High)).Count()</h5>
											</a>
										</div>

									</div>
									<div class="row mb-4 pb-1">
										<div class="col-8">
											<h5 class="text-start">Urgent</h5>
										</div>
										<div class="col-4 d-flex justify-content-end">
											<a asp-action="AllTickets" asp-controller="Tickets">
												<h5>@Model.Tickets.Where(t=>t.TicketPriority.Name == nameof(HBTicketPriority.Urgent)).Count()</h5>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

	<!-- NEW ROW -->

		
		<!--MEMBERS CARD-->
					<div class="col-xl-7 col-md-12 col-lg-12">
						<div class="card card-table-two">
							<div class="row mb-2">
								<div class=" card-header p-0 d-flex justify-content-between">
									<div class="col-10">
										<h4 class="card-title mb-1">Members</h4>
										<span class="tx-12 tx-muted mb-3 ">@Model.Company!.Name Team Members</span>
									</div>
									<div class="col-2 text-end">
										<a asp-action="AllMembers" asp-controller="Members" style="text-decoration:none">
											<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-people-fill mb-1 px-1 bg-secondary-gradient border rounded " viewBox="0 0 16 16">
												<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
											</svg>
										</a>
									</div>
								</div>
							</div>
							<div class="table-responsive country-table">
								<table class="table table-striped table-bordered mb-0 text-sm-nowrap text-lg-nowrap text-xl-nowrap">
									<thead>
										<tr>
											<th class="wd-lg-25p">Name</th>
											<th class="wd-lg-25p tx-right">Contact</th>
											<th class="wd-lg-25p tx-right">Projects</th>
										</tr>
									</thead>

										@foreach(HBUser member in Model.Members)
										{

											<tbody>
												<tr>
													<td>@member.FullName</td>
													<td class="tx-right tx-medium tx-inverse">@member.Email</td>
													<td class="tx-right tx-medium tx-inverse">@Model.Projects!.Count()</td>
												</tr>
										
											</tbody>
										}
								</table>
							</div>
						</div>
					</div>
		<!--PROJECTS CARD -->
					<div class="col-xl-5 col-md-12 col-lg-12">
						<div class="card">
							<div class="card-header pb-1 mb-4">
								<div class="row">
									<div class=col-10>
										<h3 class="card-title mb-2">Projects List</h3>
										<p class="tx-12 mb-0 text-muted">Available projects are listed for each user.</p>
									</div>
									<div class="col-2 text-end">
										<a asp-action="AllProjects" asp-controller="Projects" style="text-decoration:none">
											<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-card-checklist px-1 bg-secondary-gradient border rounded" viewBox="0 0 16 16">
												<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
												<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
											</svg>
										</a>
									</div>
								</div>
							</div>
							@foreach (Project project in Model.Projects)
							{
								<div class="product-timeline card-body pt-2 mt-1">
									<ul class="timeline-1 mb-0">
										<li class="mt-0 mrg-8">
											<i class="ti-pie-chart bg-primary-gradient text-white product-icon"></i> <span class="fw-semibold mb-4 pt-3 tx-14 ">@project.Name</span>
											<a href="javascript:void(0);" class="float-end tx-11 text-muted"></a>
											<p class="mb-0 text-muted tx-12"></p>
										</li>
									</ul>
								</div>
							}
						</div>
					</div>

				</div>

					</div>

	<!-- NEW ROW -->
		<!-- TICKETS CARD -->

				<div class="row row-sm ms-2 me-2">
					<div class="col-md-12 col-lg-12 col-xl-12">
							<div class="card card-table-two">
								<div class=" card-header p-0 d-flex justify-content-between">
									<div class="row mb-4">
										<div class="col-10">
											<h4 class="card-title mb-1">Recent Tickets</h4>
											<span class="tx-12 tx-muted mb-3 ">Tickets in Development.</span>
										</div>
										<div class="col-2 text-end">
											<a asp-action="AllTickets" asp-controller="Tickets">
												<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-ticket-fill mt-1 px-1 bg-secondary-gradient border rounded" viewBox="0 0 16 16">
													<path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
												</svg>
											</a>
										</div>
									</div>
								</div>
								<div class="table-responsive country-table">
									<table class="table table-striped table-bordered mb-0 text-sm-nowrap text-lg-nowrap text-xl-nowrap">
										<thead>
											<tr>
												<th class="wd-lg-25p">Ticket Name</th>
												<th class="wd-lg-25p tx-right">Create Date</th>
												<th class="wd-lg-25p tx-right">Ticket Status</th>
												<th class="wd-lg-25p tx-right">Ticket Priority</th>
											</tr>
										</thead>

										@foreach(Ticket ticket in Model.Tickets)
										{
							
													<tbody>
														<tr>
															<td>@ticket.Title</td>
															<td class="tx-right tx-medium tx-inverse">@ticket.Created.DateTime</td>
															<td class="tx-right tx-medium tx-inverse">@ticket.TicketStatus.Name</td>
															<td class="tx-right tx-medium tx-danger">@ticket.TicketPriority.Name</td>
														</tr>
													</tbody>

										}

									</table>
								</div>
							</div>

						</div>
					</div>
				</div>		
					<!-- /row -->
				</div>
				<!-- /Container -->
			</div>
			<!-- /main-content -->

			<!-- Sidebar-right-->
			<div class="sidebar sidebar-right sidebar-animate">
				<div class="panel panel-primary card mb-0 box-shadow">
					<div class="tab-menu-heading border-0 p-3">
						<div class="card-title mb-0">Notifications</div>
						<div class="card-options ms-auto">
							<a href="javascript:void(0);" class="sidebar-remove"><i class="fe fe-x"></i></a>
						</div>
					</div>
					<div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
						<div class="tabs-menu ">
							<!-- Tabs -->
							<ul class="nav panel-tabs">
								<li class=""><a href="#side1" class="active" data-bs-toggle="tab"><i class="fe fe-message-circle tx-15 me-2"></i> Chat</a></li>
								<li><a href="#side2" data-bs-toggle="tab"><i class="fe fe-bell tx-15 me-2"></i> Notifications</a></li>
								<li><a href="#side3" data-bs-toggle="tab"><i class="fe fe-users tx-15 me-2"></i> Friends</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active " id="side1">
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-primary brround avatar-md">CH</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>New Websites is Created</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">30 mins ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-danger brround avatar-md">N</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Prepare For the Next Project</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">2 hours ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-info brround avatar-md">S</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Decide the live Discussion</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">3 hours ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-warning brround avatar-md">K</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Meeting at 3:00 pm</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">4 hours ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-success brround avatar-md">R</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Prepare for Presentation</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">1 day ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-pink brround avatar-md">MS</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Prepare for Presentation</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">1 day ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center border-bottom p-3">
									<div class="">
										<span class="avatar bg-purple brround avatar-md">L</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Prepare for Presentation</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">45 minutes ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="list d-flex align-items-center p-3">
									<div class="">
										<span class="avatar bg-blue brround avatar-md">U</span>
									</div>
									<a class="wrapper w-100 ms-3" href="javascript:void(0);" >
										<p class="mb-0 d-flex ">
											<b>Prepare for Presentation</b>
										</p>
										<div class="d-flex justify-content-between align-items-center">
											<div class="d-flex align-items-center">
												<i class="mdi mdi-clock text-muted me-1"></i>
												<small class="text-muted ms-auto">2 days ago</small>
												<p class="mb-0"></p>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="tab-pane  " id="side2">
								<div class="list-group list-group-flush ">
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/12.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-3">
											<strong>Madeleine</strong> Hey! there I' am available....
											<div class="small text-muted">
												3 hours ago
											</div>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/1.jpg"></span>
										</div>
										<div class="ms-3">
											<strong>Anthony</strong> New product Launching...
											<div class="small text-muted">
												5 hour ago
											</div>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/2.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-3">
											<strong>Olivia</strong> New Schedule Realease......
											<div class="small text-muted">
												45 minutes ago
											</div>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/8.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-3">
											<strong>Madeleine</strong> Hey! there I' am available....
											<div class="small text-muted">
												3 hours ago
											</div>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/11.jpg"></span>
										</div>
										<div class="ms-3">
											<strong>Anthony</strong> New product Launching...
											<div class="small text-muted">
												5 hour ago
											</div>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/6.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-3">
											<strong>Olivia</strong> New Schedule Realease......
											<div class="small text-muted">
												45 minutes ago
											</div>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-lg brround cover-image" data-bs-image-src="../assets/img/users/9.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-3">
											<strong>Olivia</strong> Hey! there I' am available....
											<div class="small text-muted">
												12 minutes ago
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane  " id="side3">
								<div class="list-group list-group-flush ">
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/9.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Mozelle Belt</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/11.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Florinda Carasco</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel" ><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/10.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Alina Bernier</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/2.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Zula Mclaughin</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/13.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Isidro Heide</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/12.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Mozelle Belt</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" ><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/4.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Florinda Carasco</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/7.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Alina Bernier</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" ><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/2.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Zula Mclaughin</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel" ><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/14.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Isidro Heide</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" ><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/11.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Florinda Carasco</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/9.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Alina Bernier</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/15.jpg"><span class="avatar-status bg-success"></span></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Zula Mclaughin</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div>
											<span class="avatar avatar-md brround cover-image" data-bs-image-src="../assets/img/users/4.jpg"></span>
										</div>
										<div class="ms-2">
											<div class="fw-semibold" data-bs-toggle="modal" data-bs-target="#chatmodel">Isidro Heide</div>
										</div>
										<div class="ms-auto">
											<a href="javascript:void(0);" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#chatmodel"><i class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/Sidebar-right-->

			<!-- Message Modal -->
			<div class="modal fade" id="chatmodel" tabindex="-1" role="dialog"  aria-hidden="true">
				<div class="modal-dialog modal-dialog-right chatbox" role="document">
					<div class="modal-content chat border-0">
						<div class="card overflow-hidden mb-0 border-0">
							<!-- action-header -->
							<div class="action-header clearfix">
								<div class="float-start hidden-xs d-flex ms-2">
									<div class="img_cont me-3">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img" alt="img">
									</div>
									<div class="align-items-center mt-2">
										<h4 class="text-white mb-0 fw-semibold">Daneil Scott</h4>
										<span class="dot-label bg-success"></span><span class="me-3 text-white">online</span>
									</div>
								</div>
								<ul class="ah-actions actions align-items-center">
									<li class="call-icon">
										<a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal" data-bs-target="#audiomodal">
											<i class="si si-phone"></i>
										</a>
									</li>
									<li class="video-icon">
										<a href="" class="d-done d-md-block phone-button" data-bs-toggle="modal" data-bs-target="#videomodal">
											<i class="si si-camrecorder"></i>
										</a>
									</li>
									<li class="dropdown">
										<a href="" data-bs-toggle="dropdown" aria-expanded="true">
											<i class="si si-options-vertical"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-end">
											<li><i class="fa fa-user-circle"></i> View profile</li>
											<li><i class="fa fa-users"></i>Add friends</li>
											<li><i class="fa fa-plus"></i> Add to group</li>
											<li><i class="fa fa-ban"></i> Block</li>
										</ul>
									</li>
									<li>
										<a href=""  class="" data-bs-dismiss="modal" aria-label="Close">
											<i class="si si-close text-white"></i>
										</a>
									</li>
								</ul>
							</div>
							<!-- action-header end -->

							<!-- msg_card_body -->
							<div class="card-body msg_card_body">
								<div class="chat-box-single-line">
									<abbr class="timestamp">February 1st, 2019</abbr>
								</div>
								<div class="d-flex justify-content-start">
									<div class="img_cont_msg">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
									<div class="msg_cotainer">
										Hi, how are you Jenna Side?
										<span class="msg_time">8:40 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end ">
									<div class="msg_cotainer_send">
										Hi Connor Paige i am good tnx how about you?
										<span class="msg_time_send">8:55 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="../assets/img/users/9.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
								</div>
								<div class="d-flex justify-content-start ">
									<div class="img_cont_msg">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
									<div class="msg_cotainer">
										I am good too, thank you for your chat template
										<span class="msg_time">9:00 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end ">
									<div class="msg_cotainer_send">
										You welcome Connor Paige
										<span class="msg_time_send">9:05 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="../assets/img/users/9.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
								</div>
								<div class="d-flex justify-content-start ">
									<div class="img_cont_msg">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
									<div class="msg_cotainer">
										Yo, Can you update Views?
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										But I must explain to you how all this mistaken  born and I will give
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="../assets/img/users/9.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
								</div>
								<div class="d-flex justify-content-start ">
									<div class="img_cont_msg">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
									<div class="msg_cotainer">
										Yo, Can you update Views?
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										But I must explain to you how all this mistaken  born and I will give
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="../assets/img/users/9.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
								</div>
								<div class="d-flex justify-content-start ">
									<div class="img_cont_msg">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
									<div class="msg_cotainer">
										Yo, Can you update Views?
										<span class="msg_time">9:07 AM, Today</span>
									</div>
								</div>
								<div class="d-flex justify-content-end mb-4">
									<div class="msg_cotainer_send">
										But I must explain to you how all this mistaken  born and I will give
										<span class="msg_time_send">9:10 AM, Today</span>
									</div>
									<div class="img_cont_msg">
										<img src="../assets/img/users/9.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<div class="img_cont_msg">
										<img src="../assets/img/users/6.jpg" class="rounded-circle user_img_msg" alt="img">
									</div>
									<div class="msg_cotainer">
										Okay Bye, text you later..
										<span class="msg_time">9:12 AM, Today</span>
									</div>
								</div>
							</div>
							<!-- msg_card_body end -->
							<!-- card-footer -->
							<div class="card-footer">
								<div class="msb-reply d-flex">
									<div class="input-group">
										<input type="text" class="form-control " placeholder="Typing....">
									<div class="input-group-text bg-transparent border-0 p-0">
											<button type="button" class="btn btn-primary ">
												<i class="far fa-paper-plane" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</div>
							</div><!-- card-footer end -->
						</div>
					</div>
				</div>
			</div>
	
			<!-- Footer opened -->
			<div class="main-footer">
				<div class="container-fluid pd-t-0 ht-100p">
					<span> Copyright © 2023 <a href="javascript:void(0);" class="text-primary">Hotbug</a>. Designed by <a href="https://steveszymanski.com/"> Steve Szymanski </a> All rights reserved.</span>
				</div>
			</div>
			<!-- Footer closed -->

		</div>
		<!-- End Page -->

		<!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

		<!-- JQuery min js -->
		<script src="../assets/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap Bundle js -->
		<script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
		<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!--Internal  Chart.bundle js -->
		<script src="../assets/plugins/chart.js/Chart.bundle.min.js"></script>

		<!-- Moment js -->
		<script src="../assets/plugins/moment/moment.js"></script>

		<!--Internal Sparkline js -->
		<script src="../assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

		<!-- Moment js -->
		<script src="../assets/plugins/raphael/raphael.min.js"></script>

		<!--Internal Apexchart js-->
		<script src="../assets/js/apexcharts.js"></script>

		<!--Internal  Perfect-scrollbar js -->
		<script src="../assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="../assets/plugins/perfect-scrollbar/p-scroll.js"></script>

		<!-- Eva-icons js -->
		<script src="../assets/js/eva-icons.min.js"></script>

		<!-- right-sidebar js -->
		<script src="../assets/plugins/sidebar/sidebar.js"></script>
		<script src="../assets/plugins/sidebar/sidebar-custom.js"></script>

		<!-- Sticky js -->
		<script src="../assets/js/sticky.js"></script>
		<script src="../assets/js/modal-popup.js"></script>

		<!-- Left-menu js-->
		<script src="../assets/plugins/side-menu/sidemenu.js"></script>

		<!-- Internal Map -->
		<script src="../assets/plugins/jqvmap/jquery.vmap.min.js"></script>
		<script src="../assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>

		<!--Internal  index js -->
		<script src="../assets/js/index.js"></script>

		<!--themecolor js-->
		<script src="../assets/js/themecolor.js"></script>

		<!-- Apexchart js-->
		<script src="../assets/js/apexcharts.js"></script>
		<script src="../assets/js/jquery.vmap.sampledata.js"></script>

		<!-- custom js -->
		<script src="../assets/js/custom.js"></script>

		<!-- switcher-styles js -->
		<script src="../assets/js/swither-styles.js"></script>
		<!--Google Charts-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>

		<script type="text/javascript">
			google.load("visualization", "1", { packages: ["corechart"] });
			google.setOnLoadCallback(drawChart);
			function drawChart() {
				$.ajax({
					type: "POST",
					url: "/Home/GglProjectPriority",
					data: '{}',
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (result) {
						var data = google.visualization.arrayToDataTable(result);

						//3D Pie
						var options = {
							title: 'Project Priority',
							is3D: true,
							chartArea: { left: 0, bottom: 15, width: '100%', height: '100%' },
							legend: { position: 'bottom' }

						};

						var chart = new google.visualization.PieChart($("#chart3D")[0]);
						chart.draw(data, options);
					},
					failure: function (rresult) {
						alert(result.d);
					},
					error: function (result) {
						alert(result.d);
					}
				});
			}
		</script>

		<script type="text/javascript">
			google.load("visualization", "1", { packages: ["corechart"] });
			google.setOnLoadCallback(drawChart);
			function drawChart() {
				$.ajax({
					type: "POST",
					url: "/Home/GglProjectPriority",
					data: '{}',
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (result) {
						var data = google.visualization.arrayToDataTable(result);

						//Donut
						var options = {
							title: 'Company Ticket Distribution',
							pieHole: 0.3,
							chartArea: { left: 0, bottom: 15, width: '100%', height: '100%' },
							legend: { position: 'bottom' }
						};
						var chart = new google.visualization.PieChart($("#donut")[0]);
						chart.draw(data, options);
					},
					failure: function (rresult) {
						alert(result.d);
					},
					error: function (result) {
						alert(result.d);
					}
				});
			}
		</script>

		<!-- @* Morris Donut Chart *@ -->

		<!-- *** Begin Chart JS Pie/Donut *** -->
	
		
		<!-- *** End Chart JS Donut *** -->
		<!-- *** Begin AM Charts *** -->
		<!-- Resources -->
		<!-- *** End AM Charts *** -->
		<!-- Chart code -->
		<script>
			$.ajax({
				type: "POST",
				url: "/Home/AmCharts",
				data: '{}',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (result) {
					am4core.ready(function () {

						// Themes begin
						// Themes end

						// Create chart instance
						var chart = am4core.create("chartdiv", am4charts.XYChart);


						// Add data
						chart.data = result;

						// Create axes
						var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
						categoryAxis.dataFields.category = "project";
						categoryAxis.numberFormatter.numberFormat = "#";
						categoryAxis.renderer.inversed = true;
						categoryAxis.renderer.grid.template.location = 0;
						categoryAxis.renderer.cellStartLocation = 0.1;
						categoryAxis.renderer.cellEndLocation = 0.9;

						var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
						valueAxis.renderer.opposite = true;

						// Create series
						function createSeries(field, name) {
							var series = chart.series.push(new am4charts.ColumnSeries());
							series.dataFields.valueX = field;
							series.dataFields.categoryY = "project";
							series.name = name;
							series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
							series.columns.template.height = am4core.percent(100);
							series.sequencedInterpolation = true;

							var valueLabel = series.bullets.push(new am4charts.LabelBullet());
							valueLabel.label.text = "{valueX}";
							valueLabel.label.horizontalCenter = "left";
							valueLabel.label.dx = 10;
							valueLabel.label.hideOversized = false;
							valueLabel.label.truncate = false;

							var categoryLabel = series.bullets.push(new am4charts.LabelBullet());
							categoryLabel.label.text = "{name}";
							categoryLabel.label.horizontalCenter = "right";
							categoryLabel.label.dx = -10;
							categoryLabel.label.fill = am4core.color("#fff");
							categoryLabel.label.hideOversized = false;
							categoryLabel.label.truncate = false;
						}

						createSeries("tickets", "Tickets");
						createSeries("developers", "Devs");

					}); // end am4core.ready()


				},
				failure: function (result) {
					alert(result.d);
				},
				error: function (result) {
					alert(result.d);
				}
			});
		</script>
	</body>
</html>
