@model IEnumerable<HotBug.Models.Project>
@using HotBug.Models.Enums;
@using Microsoft.AspNetCore.Identity;
@using HotBug.Services.Interfaces;

@inject UserManager<HBUser> UserManager
@inject IHBProjectService projectService

@{
    ViewData["Title"] = "All Projects";
    HBUser hBUser = await UserManager.GetUserAsync(User);
}

<!-- Sidebar-right-->
<div class="sidebar sidebar-right sidebar-animate">
    <div class="panel panel-primary card mb-0 box-shadow">
        <div class="tab-menu-heading border-0 p-3">
            <div class="card-title mb-0">Settings</div>
            <div class="card-options ms-auto">
                <a class="sidebar-remove"><i class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
            <div class="tabs-menu ">
                <!-- Tabs -->
                <ul class="nav panel-tabs">
                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index" target="_blank" title="Profile"><i class="fe fe-bell tx-15 me-2"></i>Profile</a></li>
                    <li><a asp-action="Index" asp-controller="Notifications"><i class="fe fe-bell tx-15 me-2"></i> Notifications</a></li>
                </ul>
            </div>
            <div class="tab-content">
            </div>
        </div>
    </div>
</div>

<div class="mt-4">

    <div class="row ">

        <!--ALL PROJECTS-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <div class="card overflow-hidden active-card sales-card bg-info-gradient">
                <a asp-controller="Projects" asp-action="AllProjects">
                    <div class="px-3 pt-3 pb-2 pt-0">
                        <div class="">
                            <h6 class="tx-16 text-white text-uppercase">ALL PROJECTS</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!--MY PROJECTS-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <div class="card overflow-hidden sales-card bg-white">
                <a asp-controller="Projects" asp-action="MyProjects">
                    <div class="px-3 pt-3 pb-2 pt-0">
                        <div class="">
                            <h6 class="tx-16 text-dark">MY PROJECTS</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!--ARCHIVED PROJECTS-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-6">
            <div class="card overflow-hidden sales-card bg-white">
                <a asp-controller="Projects" asp-action="ArchivedProjects">
                    <div class="px-3 pt-3 pb-2 pt-0">
                        <div class="">
                            <h6 class="tx-16 text-dark">ARCHIVED</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!--UNASSIGNED TICKETS-->
        @if (User.IsInRole(nameof(Roles.Admin)))
        {
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="card overflow-hidden sales-card bg-white">
                    <a asp-controller="Projects" asp-action="UnassignedProjects">
                        <div class="px-3 pt-3 pb-2 pt-0">
                            <div class="">
                                <h6 class="tx-16 text-dark text-uppercase">UNASSIGNED</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <div class="card overflow-hidden sales-card bg-white" title="Admin & Project Manager Access">
                    <div class="px-3 pt-3 pb-2 pt-0">
                        <div class="">
                            <h6 class="tx-16 text-dark">UNASSIGNED</h6>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="card px-4">
        <div class="row pt-3">
            <div class="col-6 text-dark font-weight-bold">
                <h3>
                    All Projects
                </h3>
            </div>
            <div class="col-6 text-end">
                <h3>
                    <span>
                        @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                        {
                            <a asp-action="Create" class="btn btn-md btn-purple semibold-text mb-2">Start A Project</a>
                        }
                    </span>
                </h3>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive country-table" style="overflow-y:auto;height:460px;">
                <table class="table table-hover mb-0 text-sm-nowrap text-lg-nowrap text-xl-nowrap">
                    <thead>
                        <tr class="">
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th class="bg-light text-dark ps-5 pe-5">
                                <div class="ps-5 pe-5">
                                    @Html.DisplayNameFor(model => model.Description)
                                </div>
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.EndDate)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.ImageFileName)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.ImageFileData)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.ImageContentType)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.Archived)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.Company)
                            </th>
                            <th class="bg-light text-dark">
                                @Html.DisplayNameFor(model => model.ProjectPriority)
                            </th>
                            <th class="bg-light text-dark">ACTION</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" style="color:darkslateblue"><strong>@item.Name</strong></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageFileName)
                                </td>
                                <td>
                                    @if (item.ImageFileData != null)
                                    {
                                        <img style="width:60px; height:60px" src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImageContentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Archived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company!.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectPriority!.Id)
                                </td>
                                <td>
                                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">Details</a>

                                    @{
                                        bool isProjectPM = (await projectService.GetProjectManagerAsync(item.Id))?.Id == hBUser.Id;
                                    }

                                    @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                    {
                                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                                        @if (item.Archived)
                                        {
                                            <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-3">
            <a asp-action="Dashboard" asp-controller="Home">Back to Dashboard</a>
        </div>
    </div>
</div>

