@model HotBug.Models.Project
@using HotBug.Models.Enums
@using HotBug.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<HBUser> UserManager
@inject IHBProjectService ProjectService
@inject IHBTicketHistoryService HistoryService
@inject IHBTicketService TicketService

@{
    ViewData["Title"] = "Details";

    HBUser hBUser = await UserManager.GetUserAsync(User);
    HBUser projectManager = await ProjectService.GetProjectManagerAsync(Model.Id);
}

<h1>Details</h1>

<div>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 col-lg-6">
                <!--PROJECT SNAPSHOT-->
                <div class="card p-3">
                    <div class="body">
                        @* Project Name *@
                        <h5 class="text-dark">@Model.Name</h5>
                        @* Project Description *@
                        <p class="text-dark">@Model.Description</p>
                        <div class="progress-container progress-info m-b-25">
                            <span class="progress-badge text-dark" style="font-size:small">Project Status</span>
                            <div class="progress text-dark">
                                @* Razor code block *@

                                @{
                                    var start = Model.StartDate.DateTime;
                                    var end = Model.EndDate.DateTime;
                                    var today = DateTime.Now;
                                    var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                }

                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                    @* Use Progress Bar code variable here *@
                                    <span class="progress-value">@percent%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!--PROJECT DATA-->
                <div class="card p-3">
                    <div class="body">
                        <h5 class="text-dark">Project Data</h5>
                        <ul class=" text-dark">
                            <li>Start Date: <span class="">@Model.StartDate.ToString(" MMM dd, yyyy")</span></li>
                            <li>Deadline: <span class="">@Model.EndDate.ToString(" MMM dd, yyyy")</span></li>
                            <li>Priority: <span class="">@Model.ProjectPriority?.Name</span></li>
                            @* if() logic *@
                            @if (today < end && today >= start)
                            {
                                <li>Status:<span class=""> Active</span></li>
                            }
                            else
                            {
                                <li>Status:<span class=""> Inactive</span></li>
                            }
                            <li>
                                Project Manager: <span class="">
                                    @if (projectManager != null)
                                    {
                                        <h5>@projectManager.FullName</h5>
                                        <span>@projectManager.Email</span>
                                        <p class="text-muted m-b-0">Project Manager</p>
                                        @if (User.IsInRole(nameof(Roles.Admin)) || (hBUser.Id == projectManager.Id))
                                        {
                                            <a class="btn btn-xs alert-primary" style="font: small" asp-action="AssignMembers" asp-controller="Projects" asp-route-id="@Model.Id">Manage Team</a>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-dark">Not Assigned</p>
                                        @if (User.IsInRole(nameof(Roles.Admin)))
                                        {
                                            <span><a asp-action="AssignProjectManager" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-xs btn-outline-info">Assign PM</a></span>
                                        }
                                    }
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12 col-md-4 col-lg-6">
                <!--PROJECT TEAM-->
                <div class="card p-3">
                    <div class="text-dark">
                        <h5>Project Team</h5>
                        <hr />
                    </div>
                    <div class="body text-dark" style="overflow-y:auto;">
                        <ul class="right_chat list-unstyled mb-0">

                            @* Logic for avatars *@

                            @foreach (HBUser member in await ProjectService.GetAllProjectMembersExceptPMAsync(Model.Id))
                            {
                                <li class="">
                                    <div class="">
                                        <span class="">@member.FullName</span>
                                        <span class="" style="font-size:x-small">[@((await UserManager.GetRolesAsync(member)).FirstOrDefault())]</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-6">
                <!--PROJECT ACTIVITY-->
                <div class="card p-3">
                    <div class="text-dark">
                        <h5>Project Activity</h5>
                        <hr />
                    </div>
                    <div class="body text-dark">
                        @* Project Activity loop *@
                        @foreach (TicketHistory history in await HistoryService.GetProjectTicketsHistoriesAsync(Model.Id, hBUser.CompanyId))
                        {
                            <div class="">
                                <span class="">@history.Created.ToString("dd MMM yyyy")</span>
                                <h6>@history.Description</h6>
                                <span>By: <a href="" title="@history.User.FullName" @history.User.FullName></a></span>
                                <div>
                                    <p>The ticket <b>@history.Property</b> was edited</p>
                                    <p>@($"Previous {history.Property}: {history.OldValue}")</p>
                                    <p>@($"Current {history.Property}: {history.NewValue}")</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-12">
            </div>
            <div class="col-12">
                <!--PROJECT TICKETS-->
                <div class="card p-3">
                    <div class="text-dark">
                        <h5>Tickets</h5>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-hover text-dark">
                                <thead class="">
                                    <tr class="bg-dark text-light">
                                        @* Table header *@
                                        <th class="text-light">Title</thj>
                                        <th class="text-light">Developer</th>
                                        <th class="text-light">Status</th>
                                        <th class="text-light">Priority</th>
                                        <th class="text-light">Date</th>
                                        <th class="text-light">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @* Table body *@

                                    @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                    {
                                        <tr>
                                            <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                            <td>
                                                @if (ticket.DeveloperUserId != null)
                                                {
                                                    @ticket.DeveloperUser?.FullName
                                                }
                                                else
                                                {
                                                    if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                                    {
                                                        <a class="btn btn-xs btn-info" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Assign Dev</a>
                                                    }

                                                }
                                            </td>
                                            @if (ticket.TicketStatus.Name == "New")
                                            {
                                                <td><span class="badge-success">@ticket.TicketStatus.Name </span></td>

                                            }
                                            else
                                            {
                                                <td><span class="badge-primary">@ticket.TicketStatus.Name </span></td>
                                            }
                                            <td><span class="badge-warning">@ticket.TicketPriority.Name </span></td>
                                            <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                                @if (ticket.DeveloperUserId == hBUser.Id || ticket.OwnerUserId == hBUser.Id || (projectManager?.Id == hBUser.Id) || User.IsInRole(nameof(Roles.Admin)))
                                                {
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-pencil"></i></a>
                                                }

                                                @if (User.IsInRole("Admin") || (projectManager?.Id == hBUser.Id))
                                                {
                                                    <a class="btn btn-sm btn-outline-danger"><i class="fs-5 bi-archive"></i></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
